
Skip to content
Pull requests
Issues
Marketplace
Explore
@AdmiralStone
AdmiralStone /
Chat_App

1
0

    0

Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights

    Settings

Chat_App/.gitignore
@AdmiralStone
AdmiralStone Basic Login
Latest commit 0f9e4cf 15 days ago
History
1 contributor
34 lines (26 sloc) 351 Bytes
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Python Files
bin
lib
pyvenv.cfg


server/__pycache__/

backend/services/__pycache__/

include/site/python3.8/greenlet/

    © 2021 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Docs

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

